:root{
    --fundo:#3CB371;
    --cartão-frente:#2E8B57;
    --cartão-verso:	#1d6108;
    --destaque:	#76be76;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color:var(--branco);
width:100%;
text-align: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--preto);
    padding: 2rem;
}
header a{
    color: var(--branco);
}

#container{
    display: flex;
    gap: 2rem;
    margin: 3rem;
}

.conteudo-cartao{
    background-color: var(--cartão-frente);
    padding: 40px;
    border: 1px solid var(--destaque);
    transition: transform 0.2s;
    box-shadow: 5px 5px 20px var(--preto);
}
.conteudo-cartao:hover{
    transform: scale(1.02);
}