:root{
    --fundo:#3CB371;
    --cartão-frente:#2E8B57;
    --cartão-verso:	#00FF00;
    --destaque:	#006400;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color:var(--branco);
width:100%;
text-align: center;

}